.foto{

    padding: auto;
    
    }
    
    body{
    
        background-color: black;
    }
    
    p, h3{
        font-size: 30px;
        font-style: italic;
        color: blanchedalmond;
    }